.container-fluid {
    margin-left: 10px;
}
.btn-operate {
    margin-left: -15px;
    margin-top: 0px;
    padding-left:4px;
    border: 1px solid #f0f6e4;
    line-height: 40px;
}

#queryForm table {
}
.query-toolbar {
    float: left;
}
.operate-toolbar {
    float: left;
}
.search {
	margin-bottom: 0px;
}
.search-td {
	font-weight:bold;
	background: #BBFFEE;
	height: 40px;
	line-height: 40px;
}

.query-input {
    width: 222px;
    margin-left: 8px;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.btn-operate .form-group{
    margin-bottom: 5px;
}

.registerform {
    margin-top: 15px;
}

.treeColumn {
    position:absolute;
    z-index:9999;
    background:#f2f2f2;
    display: none;
    width:94%;
    padding-left:10px;
    padding-right:0px;
    border-radius:10px;
}
